<h1><%= @list.name %></h1>
<p><%= link_to "Add a movie", new_list_bookmark_path(@list) %> </p>

<% if @list.bookmarks.present? %>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="mb-3">
      <h3>
        <%= bookmark.movie.title %>
        .
        <%= bookmark.movie.rating %>
      </h3>

      <div>
        <%= image_tag(bookmark.movie.poster_url, class: "img-fluid", width: "25%") %>
      </div>

      <div class="bookmark-comment">
        <%= bookmark.comment %>
      </div>

      <div class="link-to-destroy">
        <%= link_to "Delete", bookmark_path(bookmark),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No movies</p>
<% end %>

<%= link_to "All Lists", lists_path, class: "btn btn-primary" %>
<%= link_to "Destroy that list", list_path(@list),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" },
      class: "btn btn-primary" %>
